{{#each list}}
<div class="card-product">
	<a href="{{permalink}}" title="{{{title}}}">
		{{{thumbnail}}}
		<h2 class="card-product-desc">{{{title}}}</h2>
		<a href="{{learn_more}}" class="card-product-sub">{{learn_more_title}}</a>
	</a>
</div>
{{/each}}